*.ppu
*.o
*.bak
examples/ToroThread
examples/ToroKeyb
examples/ToroNetwork
examples/ToroNetwork2
examples/ToroHello
examples/build
kernel.bin
*.img
rtl/backup
examples/backup
rtl/drivers/backup
examples/serial.txt
examples/Toro.compiled
examples/Toro.res
*.exe
*.sh~



