*.ppu
*.o
*.bak
tests/ToroThread
tests/ToroKeyb
tests/ToroNetwork
tests/ToroNetwork2
tests/ToroHello
tests/build
kernel.bin
*.img
rtl/backup
tests/backup
rtl/drivers/backup
tests/serial.txt
tests/Toro.compiled
tests/Toro.res
*.exe
*.sh~



